<!DOCTYPE html>
<html>
<head>
  <title>CODE_GENERATOR</title>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: 'Courier New', Courier, monospace;
    }
  
    header {
      background-color: #ffffff;
      background: linear-gradient(30deg,rgb(0, 0, 0),rgb(0, 0, 0));
      color: #fff;
      padding:5px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgb(255, 255, 255);
     
    }
  
    .container {
      display: flex;
      height: 100vh;
    }
  
    .left-section {
      min-width: 20vw;
      max-width:20vw;
      background-color: rgb(0, 0, 0,0.8);
      color:rgb(0, 0, 0);
      font-size: 24px;
      backdrop-filter: blur(20px);
      padding: 20px;
      overflow: scroll;
      border-right: 1px solid white;
      
    }
    .right-section {
      flex-grow: 1;
      /* background-color: rgb(23, 23, 23); */
      background: linear-gradient(207deg, #d54cdf, #85a9ee, #c859e3, #5453e1);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    -o-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
      overflow: scroll;
      padding-bottom: 200px;
      padding-top:20px;
    }
   
@-webkit-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
    @keyframes gradientAnimation {
      0% { background-position: 0% center; }
      100% { background-position: 100% center; }
    }
    #logopart{
      background-image: url("c.jpg");
      background-size: contain;
      height:100px;
      width:1000px;
      background-repeat: no-repeat;
      margin-left:20px;
    }
  
    .fixed-input {
      position: fixed;
      left:30%;
      display: flex;
      flex-direction: row;
      bottom:0px;
      text-align: center;
      width:60%;
      margin-bottom:10px;
      background-color:transparent;
      backdrop-filter: blur(20px);

    }
/* 
    background-color:rgb(255, 255, 255);
      backdrop-filter: blur(20px); */
  
    .fixed-input input {
      width:90%;
      height:60px;
      background-color:rgb(255, 255, 255,0.8);
      /* backdrop-filter: blur(20px); */
      border-radius: 5px;
      padding-left:20px;
      border:none;
      box-shadow: -2px -2px 10px rgb(133, 186, 250);
    }
  
    .fixed-input button {
      width: 100px;
      background-color:rgb(255, 255, 255,0.7);
      backdrop-filter: blur(20px);
      height:65px;
      position: relative;
      overflow: hidden;
      color: #2196F3;
      background-color: #ffffff;
      border: none;
      font-size: 16px;
      cursor: pointer;
      border-radius:20px;
      transition: 100ms ease-in-out;
      margin-left: 10px;
    }
    .fixed-input button::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      border-top-color: #fff;
      border-radius: 50%;
      animation: spin 1s infinite linear;
    }
    /* .fixed-input button:hover{
      background-color: rgb(0, 0, 0);;
      border-radius: 50px;} */

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    .output-div {
      width: 90%;
      background:rgba(255, 255, 255,0.7);
      backdrop-filter: blur(20px);
      word-wrap: break-word;
      overflow: auto;
      padding: 10px;
      margin-bottom: 10px;
      margin-left:20px;
    }
  
    .output-div pre {
      margin: 0;
      color: rgb(0, 0, 0);
      max-width:90%;
    }
  
    .output-div button {
      margin-top: 10px;
    }
  #loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  left:20%;
  top:9%;
  z-index:5;
  
  }
  
  #loadingAnimation {
  width: 40px;
  height: 40px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #bb3030;
  border-radius: 50%;
  animation: spin 1.3s ease-out infinite;
  }
  .left-section::-webkit-scrollbar,
.right-section::-webkit-scrollbar {
  width: 5px; 
}

.left-section::-webkit-scrollbar-thumb,
.right-section::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 4px;
}

.left-section::-webkit-scrollbar-thumb:hover,
.right-section::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7); 
}
#signupp{
    border-style: none;
    font-size:3vh;
    background:linear-gradient(20deg,#85c8fc,#c8e4fa,#85c9fd);
    background-size: 300%;
    border-radius:10px;
    padding:10px;
    transition: .5s;
    width:10vw;
    position: absolute;
    right:3%;
    top:5.2%;
}
#signupp:hover{
    background-position:right;
}
#entryline{
  font-size: 24px;
  width:45%;
  max-height:200px;
  background:rgba(255,255,255,0.5);
  margin: 9% 0 0  15% ;
  padding:10%;
  display:none;
}
#scrollToBottomButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index:13;
}

#scrollToBottomButton:hover {
  background-color: #555;
}

  </style>
  
</head>
<body>
  <header>
    <div id="logopart"></div>
    <h1 style="color: rgb(255, 255, 255); margin-top:30px;margin-right:30%;">CODE GENERATOR</h1>
    <!-- <button id="logout" href="/logout"><p id="username"> LOG OUT </p></button> -->
    <% if(locals.user != null) {%>
      <input type="hidden" id="username" value="<%= user %>">
      <a href="logout" > <ul><button id="signupp">
         <%= user %> &nbsp;&#10005; <i class='fas fa-arrow-circle-right'></i></button></ul></a>
          <%} else{%>
           <a href="/login"><button id="signupp">
           <%= "Sign In" %> <i class='fas fa-arrow-circle-right'></i></button></a>
           <%}%>
       </a>
       
       <!-- <input type="hidden" id="usercred" value="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"> -->
  </header>
  <body>
  <div class="container">
    <div class="left-section">
      <h2 style="color: white;margin-left:30%">HISTORY</h2>
    </div>
    
    <div class="right-section">
      <p id="entryline"> "YOUR PERSONAL CODING ASSISTANT"</p>
      <button id="scrollToBottomButton" style="font-size: 20px;">&#8595;</button>
      
    </div>
    
    <div class="fixed-input">
      <input id="fixinp" type="text" placeholder="ENTER YOUR QUERY..!"  onkeydown="handleKeyDown(event)" />
      <button id="submitbtn" onclick="submitQuery()"><p id="gotxt" style="font-size:50px;margin-top:-5px">&#10144;</p>
        <div id="loadingContainer" style="display:none;z-index:10;">
          <div id="loadingAnimation"></div>
      </div>
    </button>
    </div>
  </div>
  <script type="text/javascript" src="app.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script>
   function handleKeyDown(event) {
    if (event.keyCode === 13) {
      event.preventDefault(); // Prevent form submission
      submitQuery();
    }
  }
</script>
</body>
</html>
